<% content_for :search_metas do %>
  <!-- General meta info + SEO -->
  <title><%= "add a product category | #{Setting.first.try :site_name}" %></title>
  <meta name="description" content="This is where the store staff adds a new product category to the online store." />
<% end %>
<!-- original system -->
<% content_for :meta_title, "add a product category | #{Setting.first.try :site_name}" %>

<%= render 'tab_admin_menu' %>

<%= render 'form' %>
<%= render 'shared/admin_sidebar' %>
